<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base/main.html' %}
    {% load static %}

    {% block content %}
    <main>
        <section id="room-name-wrapper">
            <p>Room Name: <span id="room-name"></span></p>
        </section>

        <section id="video-streams">
            
        </section>
    </main>
    <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.19.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
    {% endblock content%}
</body>
</html>